/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/** Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
  .logements{
    flex-direction: column;
    justify-content: center;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    display: flex;
    }

    .populaires .populaires-title{
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    
          
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /*** acti tab ***/
  .acti-card .card{
    justify-content: space-between;
    height: 270px;
  }

  .acti-card img {
    height: 200px;
  }

  .acti-card p{
 
    justify-content: left;
    align-items: flex-start;
  }

}


/***** Small devices (phones, less than 768px) *****/
@media screen and (max-width: 768px) {

    * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    title{
        display: none;
    }
    
    /* .Header. */
   header{
        max-width: 768px;
        flex-wrap: wrap;
   }

   nav{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }

   .logo{
        justify-content: center;
        margin: 0;
        padding: 30px;
   }
    
    nav div{
        width: 100%;
        height: 18px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav a{
        width: calc(100%/2);
        margin : 0;
        padding: 0 0 15px 0;
        border-bottom: solid 3px var(--main-bg-color);
    }
   
    nav a:hover{
        border: none;
        border-bottom: solid 3px var(--main-color);
    }

    /* search_filter */
    .search_filter{
        margin: 30px 20px 30px 20px;
        padding: 0;
    }
    h1{
        margin-left: 0;
        padding: 0;
    }
    .filtres{
        max-width: 768px;
        align-items: center;
        flex-wrap: wrap;
    }
    input{
        width: 100%;
    }
    form a{
        text-decoration: none;
        border-radius: 15px;
        border: 1px solid var(--Grey, #F2F2F2);
        background: var(--White, #FFF);
    }

    label{
        border-radius: 15px;
        border: 1px solid var(--Blue, #0065FC);
        background: var(--Blue, #0065FC);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    label p{
        display: none;
    }
    label .fa-magnifying-glass{
        display: inline;
    }

    h4 {
        align-self: start;
    }
   
    .boutons{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

    }

    .groupe1{
        width: 100%;
        justify-content: space-between;
    }

    .groupe1 p,
    .groupe2 p{
        flex-direction: row;

    }
    .filtres a{
        width: calc(100%/2);
        justify-content: center;
    }

    /* heberge & populaires */
    .logements{
        max-width: 768px;
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
        border-radius: 0;
    }

     /* populaire */
     .logements .populaires{
        border-radius: 0;
        width: 100%;
        flex-direction: column;  
        margin: 0;
    }
    
    .populaires .populaires-title{
        flex-direction: row;
        margin: 0;
    }

    .populaires .populaires-cards{
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards a{
        width: 100%;
    }
    .populaires-cards .card{
        width: 100%;
        flex-direction: row;
        margin-top: 15px;
    }

    .card img{
        height: 146px;

    }

    .card-content .card-subtitle{
        flex-direction: row;
        justify-content: flex-start;
        gap: 2px;
    }

    .card-content .card-rating{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 10px;
        
    }
    /* heberge */
    .logements .hebergements{
        margin: 0;
        padding: 20px;
        max-width: 768px;
        width: 100%;
        border-radius: 0;
        background-color: white;
    }

    .heberge{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .heberge-card {
        max-width: 768px;
        width: 100%;
        height: auto;
    }

    .heberge-content{
        justify-content: space-between;
        padding: 0 15px 15px 15px;
        margin: 0;
    }

    .heberge img{
        max-width: 768px;
        height: 124px;
    }

    .heberge-content .card-subtitle{
        flex-direction: row;
        padding-bottom: 10px;
        gap: 2px;
    }
   
    .heberge-content .card-rating{
        flex-direction: row;
    }

    /* activité */
    .activites{
        max-width: 768px;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;        
    }

    .activites h2{
        max-width: 768px;
        margin: 0;
        padding: 0 30px 0 30px;
    }

    .acti-card{
    max-width: 768px;
        margin: 0;
        padding: 0 30px 30px 30px;
        gap: 15px;
    }

    .activites .acti-card{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .acti-card .card{
        width: 100%;
        height: auto;
    }
    .acti-card img{
        height: 141px;
        width: 100%;
    }

    /*** footer ***/
    footer{
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: 100%;
    }

    footer div{
        padding: 30px;
    }
}
